GeekMDSuite.Calculations/bin
GeekMDSuite.Calculations/obj
GeekMDSuite.Common/bin
GeekMDSuite.Common/obj
GeekMDSuite.Interpretation/obj
GeekMDSuite.Interpretation/bin
GeekMDSuite.Calculations.Test/bin
GeekMDSuite.Calculations.Test/obj
GeekMDSuite.Common.Test/bin
GeekMDSuite.Common.Test/obj
GeekMDSuite.Interpretation.Test/obj
GeekMDSuite.Interpretation.Test/bin
.idea
