GeekMDSuite/bin
GeekMDSuite/obj
GeekMDSuite.Test/bin
GeekMDSuite.Test/obj
GeekMDSuite.ConsoleDemo/bin
GeekMDSuite.ConsoleDemo/obj
.idea
GeekMDSuite.sln.DotSettings.user
GeekMDSuite.WebAPI/bin
GeekMDSuite.WebAPI/obj
