GeekMDSuite.Core/bin
GeekMDSuite.Core/obj
GeekMDSuite.Core.UnitTests/bin
GeekMDSuite.Core.UnitTests/obj
GeekMDSuite.ConsoleDemo/bin
GeekMDSuite.ConsoleDemo/obj
.idea
GeekMDSuite.sln.DotSettings.user
GeekMDSuite.WebAPI/bin
GeekMDSuite.WebAPI/obj
GeekMDSuite.WebAPI/context.db
GeekMDSuite.WebAPI/Migrations
GeekMDSuite.WebAPI.UnitTests/bin
GeekMDSuite.WebAPI.UnitTests/obj
